# Godot 4+
.godot/
.import/
.export/
export_presets.cfg
export.cfg
export_credentials.cfg

# Imported translations
*.translation

# Android and Mono
/android/
.mono/
data_*/
mono_crash.*.json

# Logs and OS junk
*.log
.DS_Store
Thumbs.db
.nomedia

# Editors
.vscode/
.idea/

# Temporary files
*~
*.tmp