# =========================
# Godot 4+
# =========================
.godot/
.import/
.export/
.export_presets.cfg

# Android build output
/android/

# =========================
# Logs
# =========================
*.log

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors
# =========================
.vscode/
.idea/

# =========================
# Temporary / backup files
# =========================
*~
*.tmp
